@use '../../../../vars';

.admin-roles {
    position: relative;

    &__create {
        position: absolute;
        top: 0;
        right: 0;

        width: 2rem;
        height: 2rem;

        border: 1px solid vars.$color-highlight;
        border-radius: 100%;

        font-size: 1.5rem;
        font-weight: 700;
        color: vars.$color-highlight;

        opacity: .7;

        transition: .2s;

        &:hover {
            opacity: 1;
        }
    }

    &-list {
        display: flex;
        gap: 1rem;
    }
}
