@use '../../vars';

.profile {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;

    &__logout {
        position: absolute;
        top: 0;
        right: 0;

        padding: .5rem 1rem;

        border: 1px solid vars.$color-error;
        border-radius: .5rem;

        color: vars.$color-error;

        opacity: .7;

        transition: .2s;

        &:hover {
            opacity: 1;
            background-color: vars.$color-error;
            color: vars.$color-text-base;
        }
    }

    &-nav {
        position: sticky;
        left: 0;
        top: 0;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__link {
            font-weight: 700;

            &_active {
                color: vars.$color-highlight !important;
            }
        }
    }

    &__content {
        flex-grow: 1;

        padding-left: 1rem;
        padding-bottom: 2rem;

        overflow: hidden;
    }
}
