$color-background-main: #1C1B1B;
$color-background-list: #362917;
$color-background-review: #191A28;
$color-background-pop-up: #191A2880;
$color-background-input: #ffffff33;
$color-background-success: #24df2e80;
$color-background-info: #6fe6ca80;
$color-background-warning: #f3b02580;
$color-background-error: #d0090980;

$color-button-gradient-left: #2478d7;
$color-button-gradient-right: #007906;

$color-separator: #2E2F45;

$color-highlight: #18851E;

$color-text-title: #FFFFFF;
$color-text-base: #C8C9D5;
$color-text-list: #ffac4d;
$color-text-highlight: #000000;
$color-text-link: #BDBFD4;

$color-border-list: #694924;
$color-border-review: #30313E;

$color-success: #24df2e;
$color-info: #6fe6ca;
$color-warning: #f3b025;
$color-error: #d00909;

$container-max-width-percent: 90%;
$container-max-width-pixels: 1280px;

$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1200px;
$breakpoint-2xl: 1400px;

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 12px;
$font-size-l: 14px;
$font-size-xl: 16px;
$font-size-2xl: 18px;
