$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1400px;
$breakpoint-2xl: 2000px;

$font-size-xs: 6px;
$font-size-s: 8px;
$font-size-m: 10px;
$font-size-l: 14px;
$font-size-xl: 18px;
$font-size-2xl: 22px;

$color-gray: #343330;
$color-green: #45462A;
$color-brown: #7E5920;
$color-orange: #DC851F;
$color-yellow: #FFA737;
